.button {
    padding: 10px 25px;
    border-radius: 12px;
    font-weight: bold;
    color: #222;
    background-color: #f8f8f8;
    border: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    transition: all .2s ease-out;
}

.button:hover {
    background-color: #d4d2d2;
}